@using Blazored.Modal.Services;
<div class="w-[265px] h-[225px] bg-green-300 rounded-lg grid grid-rows-[1fr_30px] p-2 pt-3">
    <div>
        <h3 class="text-xl font-bold mb-[10px]">@ProjectAnalysis.ProjectName</h3>
        <div class="text-md">Gesamt🌍: <label class="font-semibold">@ProjectAnalysis.Overall</label></div>
        <div class="text-md">Wirtschaft📈: <label class="font-semibold">@ProjectAnalysis.Economic</label></div>
        <div class="text-md">Gesellschaft👩‍👨‍👦‍👧: <label class="font-semibold">@ProjectAnalysis.Society</label></div>
        <div class="text-md">Umwelt🌳: <label class="font-semibold">@ProjectAnalysis.Nature</label></div>
    </div>
    <div class="flex flex-row justify-between">
        <div class="p-1 rounded-md bg-green-500 text-white">
            <span>Erstellt: @ProjectAnalysis.CreationDate.ToShortDateString()</span>
        </div>
        <button @onclick="ShowProjectAnalysis">
            <img class="h-[25px]" src="/icons/link.png" />
        </button>
    </div>
</div>


@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; }

    private IModalReference modalReference;

    [Parameter]
    public Action CloseModalCallback { get; set; }

    [Parameter]
    public ProjectAnalysisDTO ProjectAnalysis { get; set; }

    private async Task ShowProjectAnalysis()
    {
        var modalOptions = new ModalOptions
            {
                HideCloseButton = true,
                Position = ModalPosition.Middle,
                Size = ModalSize.Large
            };

        var parameters = new ModalParameters
        {
            { nameof(AnalysisDetailKanbanBoard.ProjectAnalysis), ProjectAnalysis },
            { nameof(AnalysisDetailKanbanBoard.CloseModalCallback), (Action)(() => { modalReference.Close(); }) }
        };

        modalReference = ModalService.Show<AnalysisDetailKanbanBoard>(string.Empty, parameters, modalOptions);
    }
}
